// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body{
    width:80%;
    padding-left:50px;
}

.header {
    display:flex;
    justify-content:space-between;
    padding:20px 0;
}
