// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body{
    background-color: #EEEEEE;
    width:80%;
    padding:0 10% 100% 10%;
}

.header {
    width:80%;
    display:flex;
    justify-content:space-between;
    padding:20px 0;
}

table {
    text-align: center;
    width:100%;
    background-color: white;
    border:1px solid #DDDDDD;
    padding: 10px;
}

